<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quarter Spiral - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/main.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  </head>

  <body>


    <% if current_user && current_user.admin? %>
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li><a href="/admin">Administration</a></li>
                  <li><a href="/admin/users">Users</a></li>
                  <li><a href="/admin/apps">Apps</a></li>
                </ul>
                <ul class="nav pull-right">
                  <li><a href="/profile">Your Account</a></li>
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if flash[:error] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:success] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="notice">×</button>
        <%= flash[:success] %>
      </div>
    <% end %>

    <%= yield %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/javascripts/jquery-1.8.1.min.js"></script>
    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/application.js"></script>
  </body>
</html>
