<div class="narrow">
  <div class="page">
    <div class="header">
      <h1>Error</h1>
    </div>

    <div class="body">
      It looks like you have denied access to your account. We can't log you in.
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2012 Quarter Spiral, Inc.</p>
  </div>
</div>

