<div class="narrow">
  <div class="page">
    <div class="header">
      <h1>Hey <%=h current_user.name %></h1>

    </div>

    <div class="body">

    	<p>This is your Quarter Spiral Accout.</p>
			<ul>
			  <% if current_user %>
			    <li><a href="/profile">Edit Account</a></li>
			    <li><a href="/logout">Sign out</a></li>
			  <% end %>
			  <% if current_user && current_user.admin? %>
			      <li><a href="/admin">Administration</a></li>
			  <% end %>
			</ul>


    </div>
  </div>
  <div class="footer">
    <p>&copy; 2012 Quarter Spiral, Inc.</p>
  </div>
</div>

