<div class="row">
  <div class="span6 offset3">
     <h1>Welcome <%=h current_user.name %></h1>
    <div class="box">
     

    	<p>This is your Quarter Spiral Accout. Use it to login into any Quarter Spiral service.</p>

      <ul>
        <li><a href="/profile">Your Account</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>

  </div>
</div>