<div class="row">
  <div class="span6 offset3">
     <h1>Quarter Spiral ID for: <%=h current_user.name %> </h1>
     

  	<p>This is your Quarter Spiral ID. You can use it to log into any Quarter Spiral powered application.</p>

    <ul class="unstyled">
      <li><a href="/profile">Edit your account</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>

  </div>

</div>

<div id="footer" class="row">
    <div class="span6 offset3">
      <hr />
      <p>&copy; 2013 Quarter Spiral, Inc.</p>
    </div>
  </div>
