<div class="row">
  <div class="span12">
    <h1>Invite</h1>
    <p>Quarter Spiral currently is in private beta. To get on board you need an invitation code.</p>
    <form action="/invite" method="post" class="form">
      <div class="control-group">
        <label class="control-label" for="inputCode">Invitation Code</label>
        <div class="controls">
          <input type="text" id="inputCode" placeholder="Code" name="code">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Log in</button>
        </div>
      </div>
    </form>
  </div>
</div>

