<div class="row" ng-controller="loginController" ng-init="showLogin = <%= (env['x-rack.flash'] || {})[:failed_login_username] != nil ? 'true' : 'false' %>;">
  <div class="span6 offset3">
    <h1>Quarter Spiral ID</h1>
    <div ng-hide="showLogin">
      <p>With a Quarter Spiral ID you can log into any Quarter Spiral powered application.</p>
      <hr />
      <p>You can <strong>sign in or create a new ID</strong> with any of these options:</p>
      <ul class="loginOptions unstyled">
          <li class="loginOption"><a href="#" ng-click="showLogin = true;" class="loginOptionLink"><i class="icon-white icon-arrow-right pull-right"></i> User Name and Password</a></li>
        <li class="loginOption"><a class="loginOptionLink" href="/auth/facebook"><i class="icon-white icon-arrow-right pull-right"></i> Facebook</a></li>
      </ul>
      <p class="moreOptions">More options coming soon...</p>
    </div>
    <div ng-show="showLogin">
      <p>If you do not have an account yet you can <strong><a href="/signup">create a new account</a>.</strong></p>

      <form action="/login" method="post" class="form loginForm">

          <input type="text" id="inputName" placeholder="Enter your user name" name="name" class="input-block-level" value="<%= (env['x-rack.flash'] || {})[:failed_login_username] %>">
          <input type="password" id="inputPassword" placeholder="Enter your password" name="password" class="input-block-level">
          <div class="customFormActions">
            <a href="#" ng-click="showLogin = false;" class="btn">Cancel</a>
            <button type="submit" class="btn btn-success"><i class="icon-arrow-right icon-white"></i> Log in</button>

          </div>


      </form>


    </div>

  </div>
</div>

