<div class="narrow">
  <div class="page">
    <div class="header">
      <h1>Log in</h1>
    </div>

    <div class="body">

      <form action="/login" method="post" class="form">
        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <input type="text" id="inputName" placeholder="Name" name="name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success">Log in</button>
          </div>
        </div>
      </form>

      <p class="option">Not yet a member? <a href="/signup">Sign up...</a></p>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2012 Quarter Spiral, Inc.</p>
  </div>
</div>

