<div class="row">
	<div class="span6 offset3">
    <h1>Your account</h1>

    <div class="box">

			<form action="/profile" method="POST" class="form">
	      <input type="hidden" name="_method" value="put"/>

			  <%= form_field 'user', 'name', 'Name', @user.name %>

			  <%= form_field 'user', 'email', 'eMail', @user.email, type: 'email' %>

			  <%= form_field 'user', 'password', 'Password', '', type: 'password' %>

			  <%= form_field 'user', 'password_confirmation', 'Password Confirmation', '', type: 'password' %>

			  <button class="btn btn-success">Update</button>
			  <a class="btn" href="/">Cancel</a>
			</form>
		</div>
	</div>
</div>
