<div class="narrow">
	<div class="page">
	  <div class="header">
	    <h1>Sign Up</h1>
	    <p></p>

	  </div>

	  <div class="body">

			<form action="/signup" method="POST" class="form">

			  <%= form_field 'user', 'name', 'Name', @user.name %>

			  <%= form_field 'user', 'email', 'eMail', @user.email, type: 'email' %>

			  <%= form_field 'user', 'password', 'Password', '', type: 'password' %>

			  <%= form_field 'user', 'password_confirmation', 'Password Confirmation', '', type: 'password' %>

			  <button class="btn btn-success">Sign up</button>
			</form>

			<p class="option">Already registered? <a href="/login">Log in...</a></p>

		</div>
	</div>
	<div class="footer">
    <p>This is sparta!</p>
  </div>
</div>